.btn_login {
    width: 350px;
    height: 20x;
    top: 100px;
    display:block;
    margin:auto;
    position: relative;

  }
  div h1{
    margin: 0 auto;
    text-align:center;
    margin-top:120px;
    font-size: 60px;
    
  }
  .child {
    /* border: 4px solid #ebda49;
    border-radius: 5px;
    background-color: yellow; */
    padding: 10px 0;
    font-size: bold;
    display:block;
    text-align:center;
    margin: 0 auto;
    width: 100%;
    height:75px;

  }
  .child2 {
    /* border: 4px solid #ebda49; */
    /* border-radius: 5px; */
    /* background-color: yellow; */
    /* padding: 5px; */
    font-size: bold;
    display:block;
    text-align:center;
    /* margin: 10px 0 10px 0; */
    margin: 40 auto;
    width: 100%;
    height:75px;
    border: 0.3px solid rgb(195, 193, 193);
    border-radius: 10px;

  }
  .child3 {
    /* border: 4px solid #ebda49;
    border-radius: 5px;
    background-color: yellow; */
    padding: 10px 0;
    font-size: bold;
    display:block;
    text-align:center;
    /* margin: 10px 0 10px 0; */
    margin: 100 auto;
    width: 100%;
    height:75px;

  }
  /* .logbtn{
    
    border: 4px solid #ebda49;
    border-radius: 5px;
    background-color: yellow;
    padding: 10px;
    font-size: bold;
    display:block;
    text-align:center;
    margin: 10px 0 10px 0;

  } */
  
  div span a {
    text-decoration: none;
    font-weight: bold;
  }