textarea {
    font-family: "Nanum Pen Script";
    font-size: 20px;
  
    box-sizing: border-box;
    width: 100%;
    min-height: 450px;
    resize: vertical;
  
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding: 20px;
  }

  /* submit */
.submitdiv{
    display: flex;
  }
  .submit{
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
  }
  div>p{
    font-size:30px;
}

.contanier{
    width: 70px;
}